/* Auth.css */
.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg,  #007965, #00bfa6);
    font-family: 'Arial', sans-serif;
    width: 100vw;  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.auth-box {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    height:370px;
    width: 450px;
    text-align: center;
    animation: fadeIn 0.5s ease-in-out;
}

h2 {
    font-size: 30px;
    color: #333;
    margin-bottom: 10px;
}

p {
    color: #666;
    font-size: 24px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    text-align: left;
    font-weight: bolder;
    margin: 10px 0 5px;
    color: #444;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 15px;
}

button {
    background: #6e8efb;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 15px;
    transition: background 0.3s;
}

button:hover {
    background: #5a7de0;
}

.switch {
    margin-top: 10px;
    font-size: 20px;
}

.switch a {
    color: #6e8efb;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

.switch a:hover {
    text-decoration: underline;
}

/* Smooth fade-in effect */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
