.dashboard-container {
    text-align: center;
    padding: 50px;
    background: linear-gradient(135deg, #c8f6ee, #00bfa6);
    color: white;
    height: 100vh;
    width: 100vw;  /* Add this */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .dashboard-container h1 {
    font-size: 50px;
    margin-bottom: 10px;
    color: #10443b;
  }
  
  .dashboard-container p {
    font-size: 24px;
    margin-bottom: 30px;
    color:rgb(11, 54, 20);
  }
  
  .dashboard-options {
    display: flex;
    justify-content: center;
    gap: 30px;
  }
  
  .dashboard-card {
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    text-align: center;
    width: 350px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .dashboard-card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 12px 25px rgba(0, 0, 0, 0.3);
  }
  
  .dashboard-card img {
    width: 300px;
    margin-bottom: 15px;
  }
  
  .dashboard-card h3 {
    font-size: 25px;
    color: #007965;
  }
  