.register-container {
    background: linear-gradient(to right, #fbc2eb, #a6c1ee);
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Comic Sans MS", cursive, sans-serif;
  }
  
  .register-title {
    font-size: 3rem;
    color: black;
    margin-bottom: 20px;
  }
  
  .register-form {
    background: #ffffffcc;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 520px;
    width: 480px;
  }
  
  .register-form input {
    padding: 12px;
    margin-bottom: 15px;
    border: 2px solid #ccc;
    border-radius: 10px;
    font-size: 2rem;
  }
  select
  {
    padding: 12px;
    margin-bottom: 15px;
    border: 2px solid #ccc;
    border-radius: 10px;
    font-size: 2rem;
    
  }
  
  .register-form button {
    padding: 12px;
    border: none;
    background-color: #a18cd1;
    color: white;
    font-size: 1.2rem;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .register-form button:hover {
    background-color: #7b6ba8;
  }
  
  .register-link {
    margin-top: 10px;
    font-size: 0.9rem;
  }
  
  .register-link a {
    color: #a18cd1;
    text-decoration: none;
  }
  